:root {
    --purple: #762cde;
    --primary: #494877;
    --white: #e8e8e8;
    --bgGray: #2f2f2f;
    --lightGray: #4c4d58;
    --font_size_text: 16px;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

h1>a {
    text-decoration: none;
    color: var(--white);
}

p {
    font-size: var(--font_size_text);
    line-height: 1.8;
}

h2 {
    margin-bottom: .5em;
}


.link_button {
    color: var(--white);
    text-decoration: none;
    padding: .5em 1em;
}

.link_button_btn {
    background: var(--primary);
    color: var(--white);
    text-decoration: none;
    padding: .5em 1em;
    border-radius: 5px;
    transition: .2s;
}

.link_button_btn:hover {
    background: var(--purple);
}

.title {
    font-weight: 500;
    text-align: right;
}

.wrapper {
    padding: .5rem 15%;
}

.navbar {
    background: var(--primary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--white);
    position: sticky;
    top: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#profile_pic {
    --image_size: 250px;
    background-image: url(./me.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
    width: var(--image_size);
    height: var(--image_size);
}

.navbar>h1 {
    padding: .6rem;
}

.container {
    margin: 2rem 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 3em;
}

.container>div:nth-child(2) {
    align-content: center;
}

.hero {}

.hero>div:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    color: var(--primary);
}

.project {
    margin-bottom: 2rem;
}

.project>h3 {
    color: var(--primary);
}

.project>p {
    line-height: 1.4;
    color: var(--lightGray);
}

.project>ul {
    color: var(--lightGray);
    margin-left: 2em;
}

footer {
    background: var(--primary);
    text-align: center;
    color: var(--white);
}

footer>p {
    padding: 1em;
}

.spacer {
    height: 50px;
}

/* NOTES */
#notes_list_container {
    text-align: right;
}

pre>*,
code>* {
    font-family: monospace;
    font-size: 1rem;
}

pre,
code {
    max-width: 700px;
}

#notes_list_container {
    display: flex;
    flex-direction: column;
}

.notes_title {
    color: var(--primary);
    margin-bottom: 1em;
}

.list_btns_notes {
    background: none;
    outline: none;
    border: none;
    text-align: right;
    font-size: 1.2rem;
    margin-bottom: .6rem;
    cursor: pointer;
}

.list_btns_notes:hover {
    color: var(--primary);
}

strong {
    color: var(--purple);
}

/* BREAKPOINTS */
@media screen and (max-width: 1200px) {
    .wrapper {
        padding: .5rem 5%;
    }
}

@media screen and (max-width: 800px) {
    .container {
        display: block;
    }

    .title {
        text-align: left;
    }

    .spacer {
        display: none;
    }

    #notes_list_container>* {
        text-align: left;
    }
}

@media screen and (max-width: 600px) {
    .navbar {
        display: block;
    }
}