:root {
    --primary: #494877;
    --secondary: #762cde;
    --accent: var(--primary);
    --font_color_p: #222222;
    --font_color_btn: #e8e8e8;
    --font_color_h1: #e8e8e8;
    --font_color_h2: #494877;
    --font_color_h3: #494877;
    --lighr_gray: #555555;
    --btn_col_social_links: var(--primary);
    --background_color: #ebe8d5;
    /* --background_color: #e8e8e8; */
    --font_size_text: 16px;
}

/* Dark Mode */
.dark {
    --primary: #494877;
    --secondary: #762cde;
    --accent: #74e8b4;
    --font_color_p: #e8e8e8;
    --font_color_h1: #e8e8e8;
    --font_color_h2: #e8e8e8;
    --font_color_h3: #e8e8e8;
    --lighr_gray: #c7c7c7;
    --background_color: #2d2c41;
    --btn_col_social_links: #e8e8e8;
}

body {
    background: var(--background_color);
    transition: .2s;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .4s;
}

.icon {
    width: 2rem;
    height: 2rem;
    background-size: cover;
}

.icon-doc {
    background-image: url(icons/doc.svg);
}

.icon-code {
    background-image: url(icons/code.svg);
}

h1>a {
    text-decoration: none;
    color: var(--font_color_h1);
}

p {
    font-size: var(--font_size_text);
    line-height: 1.8;
    color: var(--font_color_p);
}

h2 {
    margin-bottom: .5em;
    color: var(--font_color_h2);
}


.link_button {
    color: var(--font_color_btn);
    text-decoration: none;
    padding: .5em 1em;
}

.link_button_btn {
    background: var(--primary);
    color: var(--font_color_btn);
    text-decoration: none;
    padding: .5em 1em;
    border-radius: 5px;
    transition: .2s;
}

.btn_dark_mode {
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    color: #74e8b4;
    margin: .5em;
}

.link_button_btn:hover {
    background: var(--secondary);
}

.title {
    font-weight: 500;
    text-align: right;
    color: var(--accent);
}

.wrapper {
    padding: .5rem 15%;
}

.navbar {
    background: var(--primary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--font_color_p);
    position: sticky;
    top: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 999;
}

#profile_pic {
    --image_size: 250px;
    background-image: url(./me.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
    width: var(--image_size);
    height: var(--image_size);
    margin-bottom: 2em;
}

.navbar>h1 {
    padding: .6rem;
    color: var(--font_color_h1);
}

.container {
    margin: 2rem 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 3em;
}

.container>div:nth-child(2) {
    align-content: center;
}

/* .hero {} */

.hero>div:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    color: var(--font_color_h2);
}

.social_links {
    margin-top: 2em;
}

.social_links>a {
    text-decoration: none;
    color: var(--btn_col_social_links);
    font-size: 2.5em;
}

.social_links>a>svg {
    --size: 1em;
    width: var(--size);
    height: var(--size);
}

.project {
    margin-bottom: 2rem;
}

.project>h3,
.project>h3>a {
    color: var(--font_color_h3);
    text-decoration: none;
    display: inline-flex;
}

.project>h3>a:hover {
    text-decoration: underline;
}

.project>p {
    line-height: 1.4;
    color: var(--lighr_gray);
}

.project>ul {
    color: var(--lighr_gray);
    margin-left: 2em;
}

footer {
    background: var(--primary);
    text-align: center;
    color: var(--font_color_p);
}

footer>p {
    padding: 1em;
    color: var(--font_color_p);
    text-align: center;
}

.spacer {
    height: 50px;
}


/* BREAKPOINTS */
@media screen and (max-width: 1200px) {
    .wrapper {
        padding: .5rem 5%;
    }
}

@media screen and (max-width: 800px) {
    .container {
        display: block;
    }

    .title {
        text-align: left;
    }

    .spacer {
        display: none;
    }

    #notes_list_container>* {
        text-align: left;
    }
}

@media screen and (max-width: 600px) {
    .navbar {
        display: block;
    }
}